@import url(http://weloveiconfonts.com/api/?family=entypo);

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

body {
  font-family: 'Helvetica', arial, sans-serif;
  background-color: $dark;
}

#app {
  @include grid-row();
}

.todo-list-empty {
  color: $light;
  text-align: center;
}
